:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
}

#controls {
  width: 300px;
}

canvas {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #404040;
  background-image:
      linear-gradient(45deg, #808080 25%, transparent 25%),
      linear-gradient(-45deg, #808080 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #808080 75%),
      linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 32px 32px;
  background-position: 0 0, 0 16px, 16px -16px, -16px 0px;
}


#opacity-controls, #framerate-display, #home {
  margin: 20px;
}

.form-group {
  margin-top: 20px;
}

a {
  color: #90CAF9;
}
a:visited {
  color: #B39DDB;
}
